@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-santu: #f7f7f7;
  --violet-santu: #171330;
  --yellow-santu: #f6be00;
  --gray-santu: #eeeeee;
  --black-santu: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--black-santu);
  background: var(--background-santu);
  max-width: 1824px;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .no-print {
    display: none !important;
  }
}
